*.txt
client/Temp/UnityLockfile
client/Temp/UnityLockfile
client/Temp/UnityLockfile
*.dwlt
*.log
*.cache
asdf_Data
Library
Temp
client/.vs/client/v15/.suo
*.cache
*.log
*.mdb
client/Library/metadata/e5/e5480988b008fa64db585a63b4757b5c
client/Assets/Gaia/
client/Assets/HEROIC FANTASY CREATURES FULL PACK/
client/Assets/KriptoFX/
client/Assets/Universal Sound FX/
client/Assets/Ultimate Game Music Collection/
client/Library/metadata/
